<%- include('partials/header.ejs') %>


    <section class="w-[294px] self-center">
        <!-- Greet user -->
        <span class="font-bold text-xl">Hello, <%= user.userName %>!</span>
    </section>

    <section class="flex w-[294px] self-center mb-3">
        <!-- link to Check In view -->
        <button class="block text-l text-white font-bold bg-buttonBg w-[130px] py-1 shadow-button my-5 ml-auto"><a
                href="/checkin">check in</a></button>
    </section>

    <% if (checkin.length===0) { %>
        <p class="self-center mb-3">Check in to get started.</p>
        <% } %>
        
        
<!-- Calculate number of days for each mood and display -->

<% let great = 0 %>
<% let good = 0 %>
<% let okay = 0 %>
<% let bad = 0 %>
<% let terrible = 0 %>  

<% for (let i = 0; i < checkin.length; i++) { %>
    <% if(checkin[i].scaleNumber === 1) { %>
        <% great +=1 %>
    <% } else if (checkin[i].scaleNumber === 2){ %>
        <% good +=1 %>
    <% } else if (checkin[i].scaleNumber === 3){ %>
        <% okay +=1 %>
    <% } else if (checkin[i].scaleNumber === 4){ %>
        <% bad +=1 %>
    <% } else { %>
        <% terrible +=1 %>
    <% } %>
<% } %>

<section class="flex flex-col w-[294px] mx-auto mt-5">
    <section class="flex flex-row items-center">
        <div class="flex h-8 w-8 border border-gridBorder bg-moodYellow"></div>
        <span class="ml-2"><span class="fa-regular fa-face-laugh-beam"></span> - <%= great %> great day(s)</span>
    </section>
    <section class="flex flex-row items-center">
        <div class="flex h-8 w-8 border border-gridBorder bg-moodOrange"></div>
        <span class="ml-2"><span class="fa-regular fa-face-grin-wide"></span> - <%= good %> good day(s)</span>
    </section>
    <section class="flex flex-row items-center">
        <div class="flex h-8 w-8 border border-gridBorder bg-moodPink"></div>
        <span class="ml-2"><span class="fa-regular fa-face-meh"></span> - <%= okay %> okay day(s)</span>
    </section>
    <section class="flex flex-row items-center">
        <div class="flex h-8 w-8 border border-gridBorder bg-moodPurple"></div>
        <span class="ml-2"><span class="fa-regular fa-face-frown"></span> - <%= bad %> bad day(s)</span>
    </section>
    <section class="flex flex-row items-center">
        <div class="flex h-8 w-8 border border-gridBorder bg-moodBlue"></div>
        <span class="ml-2"><span class="fa-regular fa-face-sad-cry"></span> - <%= terrible %> terrible day(s)</span>
    </section>
</section>

<section>
<!-- logout button -->
<button class="block text-l text-white font-bold bg-buttonBg w-[130px] py-1 shadow-button my-5 mx-auto"><a href="/logout">logout</a></button>
</section>


            <%- include('partials/footer.ejs') %>
                <script src="../main.js"></script>